#header{
    background-color: black;
}
#loginbox{
    width: 850px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgba(255,255,255,0.4);
}
#loginbox h1{

    color: rgb(77, 30, 30);
    font-weight: 900;
    font-size: 30px;
    font-size: 50px;
}
#loginbox .fieldbox {
    margin: 20px 5px;
    
}
#loginbox .fieldbox input{
    padding: 15px 10px;
    width: 100%;
    width: 500px;
    margin-bottom: 20px;
    border: 1px solid red;
    border-radius: 20px;
    border-radius: 50px;
    transition: 0.5s;
    background-color: transparent;
    height: 50px;
    display: flex;
    font-size: 30px;
    color: aliceblue;
}
#loginbox .fieldbox input::placeholder{
    color: white;
    font-size: 30px;
}
#loginbox button{
    background-color: yellow;
    border: none;
    border-radius: 0px;
    padding: 10px 20px;
    color:black;
    font-size: 30px;
    font-weight: 900;
    transition: 0.5s;
    width: 37%;
    border-radius: 20px;
    width: 500px;
    height: 70px;
    border-radius: 50px;
    margin-top: 50px;

}
