#navbar .student-logo {
    position: absolute;
width: 83px;
height: 83px;
left: 958px;
top: 37px;

}

#navbar .staff-logo{
    position: absolute;
width: 72.2px;
height: 83px;
left: 1243px;
top: 37px;}


#navbar .staff-logo p{
    font-size: 25px;
    color: white;
    background-color: black;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    margin-left: -30px;
}

#list-staff{
position: absolute;
width: 92%;
height: 80%;
left: 130px;
top: 130px;



}
#list-staff .stafflist2{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url(img/Rectangle\ 45.png);
}

#list-staff .stafflist2 .frame1{

position: absolute;
top: 0;
left: 0;

}
#list-staff .stafflist2 .frame2{

    position: absolute;
    left: 80px;
    top:50px

    }
    #list-staff .stafflist2 .staff-pic{
        position: absolute;
        left: 100px;
        top: 125px;
    }
    #list-staff .stafflist2 .name{

        position: absolute;
        left: 100px;
        top: 290px;
        background-color: #E0C667;
        height: 40px;
        font-size: 30px;
    }


    #list-staff .stafflist2{
        display: flex;
        justify-content: space-between;
        position: relative;
        background-image: url(img/Rectangle\ 45.png);
    }

    #list-staff .stafflist2 .frame1{

    position: absolute;
    top: 0;
    left: 0;

    }
    #list-staff .stafflist2 .frame2{

        position: absolute;
        left: 80px;
        top:50px

        }
        #list-staff .stafflist2 .staff-pic{

            position: absolute;
            left: 100px;
            top: 125px;
        }
        #list-staff .stafflist2 .name{

            position: absolute;
            left: 100px;
            top: 290px;
            background-color: #E0C667;
            height: 40px;
            font-size: 30px;
        }
#s{
    position: absolute;
width: 92%;
height: 80%;
left: 130px;
top: 130px;
background-color: #CDCFEE;

}
#s .cont{
    background-color: green;
    position: relative;
    left: 130px;
top: 130px;
}
#so .cont .f1{
    position: absolute;
    
}
#so .cont .f2{
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 185px;
}
#so .cont .pic{
    position: absolute;
    z-index: 1;
    top: 220px;
    left: 205px;
}
#so .cont .name{
    position: absolute;
    z-index: 1;
    top: 380px;
    left: 205px;
    background-color: #E0C667;
    height: 40px;
    font-size: 30px;
    width: 150px;
    text-align: center;

}



#st{
    background: #CDCFEE;
    height: 100vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    justify-content: space-between;
    box-shadow:  0px 0px 40px 40px #CDCFEE;

}


#st .cont{
    box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
border: 7px solid #E0C667;

}

#st .cont .f1{
    position: absolute;

}
#st .cont .f2{
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 185px;
}
#st .cont .pic{
    position: absolute;
    z-index: 1;
    top: 220px;
    left: 205px;
}
#st .cont .name{
    position: absolute;
    z-index: 1;
    top: 380px;
    left: 205px;
    background-color: #E0C667;
    height: 40px;
    font-size: 30px;
    width: 150px;
    text-align: center;

}
